.container{
    margin-top: 10px;
    box-shadow: 0px 2px 23px 5px #848484;
    border-radius:  10px;
    
}
/* tiêu đề */
.tieude{
    text-align: center;
}
/* Kê Thuốc */
.kethuoc a{
 color: #fff;
}
.kethuoc a:hover{
    color: #fff;
    font-weight: bold;
}
/* xuatphieu */
.xuatphieu a{
   color: #fff;
}

.xuatphieu a:hover{
    color: #fff;
    font-weight: bold;
}