.container{
    margin-top: 10px;
    box-shadow: 0px 2px 23px 5px #848484;
    border-radius:  10px;
    height: auto;
}
/*Header  */
.tieude{
    margin-top: -30px;
    text-align: center;
}
.logo{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
/* Toa thuốc */
.container .toathuoc{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
/* tính tiền */
.tinhtien{
    text-align: right;
}

.row .quaylai a{
    margin-left: 220px;
    background-color: #80b068;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.row .quaylai a:hover{
    font-weight: bold;
}

.row .intoa a{
    margin-left: 453px;
    background-color: #80b068;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.row .intoa a:hover{
    font-weight: bold;
}
/* Ký tên */
.benhnhan{
    padding-bottom: 100px;
}